.nav-options {
  width: 657px;
  height: 73px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 50px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.nav-options-icon-list {
  display: flex;
  padding: 0 !important;

}

.nav-icon,
.nav-icon-active {
  font-size: 12px;
  min-width: 87px;
  height: 100%;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 8px;
  border-width: 2px;
  flex-basis: 100%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}

.nav-icon-active {
  border-bottom: 4px #20c3af solid;
  color: #20c3af;
  border-spacing: 20px;
  padding-bottom: 8px;
}

.nav-icon:hover {
  cursor: pointer;
  color: #20c3af;
}

.icon {
  padding-bottom: 6px;
  font-size: 25px;
}
